  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="bootstrap2.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="vue.js"></script>
    <title>Document</title>
    <style>
      .btn.btn-danger {
        pointer-events: none;
        cursor: default;
      }


      .form__error {
      	color: red;
      	text-align: left;
      	font-size: 12px;
      	display: block;
      	margin-top: 3px;
      	display: none;
      }





    </style>
  </head>

  <body>
    <div class="container vForm">
      <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="12" aria-valuemin="15" aria-valuemax="100" :style=[progressWidth]></div>
    </div>
      <form class="form" v-if="!formSubmit" @submit.prevent = "formSubmit = true">
        <div v-for="(item, index) in info" :key="item.id">
          <label :for="item.name">
            {{ item.name }}
            <i class="fab" :class="fieldSucsess" :style="[fieldSucsessProp]"></i>
          </label><br>
            <input type="text" :id="item.name" v-model="info[index].value" @keyup="clickCheck(index)">
        </div>
        <br>
        <button class="btn" :class="submitBtn" @submit.stop="">send</button>
      </form>
    <div class="results" v-else>
      <ul>
        <li v-for="(item, index) in info">
        {{ info[index].value }}
        </li>
      </ul>
    </div>

      </div>
    <script>
      let vForm = new Vue({
        el: '.vForm',
        data: {
          formSubmit: false,
          fieldSucsess: 'fa-angellist',
          fieldSucsessProp: {
            display: 'none',
            color:'red'

          },
          progressWidth: {
            width: ''
          },
          submitBtn: 'btn-danger',
  				info: [
  					{
  						name: 'Name',
  						value: '',
  						pattern: /^[a-zA-Z ]{2,30}$/
  					},
  					{
  						name: 'Phone',
  						value: '',
  						pattern: /^[0-9]{7,14}$/
  					},
  					{
  						name: 'Email',
  						value: '',
  						pattern: /.+/
  					},
  					{
  						name: 'Field1',
  						value: '',
  						pattern: /.+/
  					},
  					{
  						name: 'Field2',
  						value: '',
  						pattern: /.+/
  					}
          ]
        },
        computed: {
          checkEmpty(){


          }



        },
        methods: {
          clickCheck(index){
            let pattern = this.info[index].pattern;
            let inputCollection = document.querySelectorAll('.form div label');
            let trueField = pattern.test(this.info[index].value);
            inputCollection = inputCollection[index].children[0];


            if(trueField){
              inputCollection.classList.add('correct');
              inputCollection.style.display = 'inline';
              inputCollection.style.color = 'green';
            } else if (!trueField){
              inputCollection.classList.remove('correct');
              inputCollection.classList.add('incorrect');
              inputCollection.style.display = 'inline';
              inputCollection.style.color = 'red';
            }

            let checkFields = document.querySelectorAll('.fab').length;
            let trueFields = document.querySelectorAll('.correct').length;
            let falseFileds = document.querySelectorAll('.incorrect').length;


            // progress + btn start
            let counter = 0;
            let countedProps = 0;
            for (key in this.info) {

              countedProps++;
              if (this.info[key].value == '') {
                counter++;
              }
            }
            let counterResult = countedProps - counter;
      

            counterResult = (counterResult / countedProps) * 100;
            this.progressWidth.width = counterResult + '%';


            let successFields = checkFields == trueFields;
            if (counterResult == 100 && successFields == true){
              return this.submitBtn = 'btn-success';

            }

            // progress + btn end

          }


        }
      });
    </script>


    <script src="http://localhost:35729/livereload.js"></script>
  </body>

  </html>
