<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="bootstrap2.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <script src="vue.js"></script>
  <title>Document</title>
  <style>
  .container {
    margin-top: 10px;
  }


  </style>
</head>

<body>
  <div class="container">
    <div class="container vForm">
      <form class="form" v-if="!formSubmit" @submit.prevent="formSubmit = true">
        <textarea id="agrement" name="name" rows="8" cols="80" v-model="agrement" style="resize:none" @scroll="showOther" ref="agrement"></textarea>
        <div class="results" v-show="textRead">
          <label for="agreText">
            <input type="checkbox" id="agreText" v-model="agreeText" value="Yes">
            <span>I agree this text</span>
          </label>
          <br>
          <label for="sendEmail">
            <input type="checkbox" id="sendEmail" v-model="agreeEmail" value="Yes">
            <span>Send email</span>
          </label>
          <div v-show="agreeEmail">
            <label for="private">
              On private
              <input type="radio" id="private" name="sendWay" v-model="sendWay" value="private">
            </label>
            <br>
            <label for="home">
              On home
              <input type="radio" id="home" name="sendWay" v-model="sendWay" value="home">
            </label>
          </div>
          <br>
          <button class="btn" v-show="agreeText">send</button>
          <br>
        </div>
      </form>
      <div v-else>
        <table class="table border">
          <tr>
            <td>I agree this text</td>
            <td>Yes</td>
          </tr>
          <tr>
            <td>Send email</td>
            <td v-if="agreeEmail">Yes</td>
            <td v-else>Now</td>
          </tr>
          <tr v-show="sendWay">
            <td>Chennel</td>
            <td>{{ sendWay }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <script>
  let vForm = new Vue({
    el: '.vForm',
    data: {
      textRead: false,
      agreeText: false,
      agreeEmail: false,
      sendWay: false,
      formSubmit: false,
      agrement: `Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla similique impedit, quia odit. Voluptatibus voluptate omnis a, eligendi veniam enim ex dolore quos, esse cum minima, soluta maxime perspiciatis dolorem.
      Quod fugit in totam mollitia consequuntur et quam non a est quas ea animi, quos temporibus odio, omnis harum corrupti aut minus sequi quasi debitis autem fugiat! Unde, odio molestias.
      Iure totam eum consequatur suscipit, optio beatae tempora obcaecati est quidem porro quasi esse laudantium incidunt dolore impedit reiciendis maxime ex. Soluta perspiciatis tenetur aperiam ab, officiis accusamus mollitia sequi?
      Placeat praesentium velit rem natus, ratione, molestias nam sequi dolores dicta beatae voluptatibus voluptate dignissimos consequuntur, dolorum perferendis! In ratione error, perferendis at temporibus nesciunt quasi cupiditate explicabo quod quos.
      Molestias quos quae ad, officiis explicabo, eligendi in perferendis quam vero et nulla neque voluptate, asperiores, placeat quia. Inventore eligendi consequuntur commodi numquam praesentium odio sint, nulla ducimus hic explicabo.</span>`
    },
    computed: {

    },

    methods: {
      showOther(){
        let textAriaHeight = this.$refs.agrement.scrollHeight;
        let textAriaScroll = this.$refs.agrement.scrollTop;
        let textWindowHeight = this.$refs.agrement.clientHeight;
        let textScrolledDown = textAriaScroll + textWindowHeight;

        if (textScrolledDown == textAriaHeight) {
          this.textRead = !this.textRead;
        }

      }

    }

  });
  </script>



  <script src="http://localhost:35729/livereload.js"></script>
</body>

</html>
